# ===================================================================
# ASKI KOTABARU - APPWRITE CLOUD CONFIGURATION
# ===================================================================
VITE_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_NAME="lanting"
VITE_APPWRITE_PROJECT_ID=6a9d7cc50032744d4440

# Appwrite Database & Collections ID
VITE_APPWRITE_DATABASE_ID=aski_db
VITE_APPWRITE_COLLECTION_SKPDS=skpds
VITE_APPWRITE_COLLECTION_USERS=users
VITE_APPWRITE_COLLECTION_PERMISSIONS=permissions
VITE_APPWRITE_COLLECTION_QUESTIONS=questions
VITE_APPWRITE_COLLECTION_CATEGORIES=categories
VITE_APPWRITE_COLLECTION_SESSIONS=sessions

# Appwrite Object Storage Bucket ID untuk Bukti Dukung Fisik Arsip
VITE_APPWRITE_BUCKET_EVIDENCE=aski_evidence
